name: CI

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: teacher_support_bot_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d teacher_support_bot_test"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=20

    env:
      PYTHONPATH: ${{ github.workspace }}

      BOT_TOKEN: "test-token"
      TEACHER_TG_ID: "1"
      DATABASE_DSN: "postgresql+asyncpg://postgres:postgres@localhost:5432/teacher_support_bot_test"
      TEST_DATABASE_DSN: "postgresql+asyncpg://postgres:postgres@localhost:5432/teacher_support_bot_test"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q
